
body {
	margin: 0;
	padding: 0;
	background: #F0F0F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #080808;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #9F1111;
}

a:hover {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
}

table, tr, td {
	border: 1px solid #080808;
	text-align: center;
}

tr {
	height: 25px;
}

td {

}


.login {
	float: right;
}

.avatar {
	width: 30px;
	height: 20px;
}

.container {
	background-color: #F0F0F0;
	width: 960px;
	margin: auto;
}

.options {
	color: #080808;
}

.header {
	width: 1000px;
	padding: 25px 0px;
	margin: 0 auto;
}

.main {
	width: 1000px;
	padding: 25px 0px;
	margin: 0 auto;

}

.pages {
	width: 1000px;
	margin: auto;
}

.logo {
	padding: 25px 0px;
	color: #080808;
	letter-spacing: -1px;
	text-shadow: #0f0f0f -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 50px;

}

.menu {
	width: 1000px;
	height: 50px;
	margin: 40px 0px 0px 0px;
	padding: 0px;
}

.menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}


.menu a {
	display: block;
	float: left;
	margin: 0px 2px 0px 0px;
	padding: 5px 20px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #080808;
	border: none;
}

.menu .current_page_item a {
	background: #ffdd88;
	color: #000000;
}

.menu a:hover {
	background: #ffdd88;
	text-decoration: none;
	color: #000000;
}


